.about-contact-h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem;
  margin-top: 5rem;
}
.about-content-h1{
  font-size: 5rem;
  display: flex;
  justify-content: center;
}
.about-contact-div {
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.about-content-grids {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid2-h2 {
  margin: 0;
  margin-right: 2rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: end;
  color: white;
}
.grid2 {
  padding: 2rem;
  text-align: left;
  background: black;
}
.grid1 {
  padding: 2rem;
  text-align: left;
  background: #96938d;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.about-content-text {
  margin-bottom: 4rem;

}

@media screen and (min-width: 576px) {
  .about-content-grids {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .about-content-grids {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .about-content-h1 {
    font-size: 6rem;
  }
}

  .about-content-grids {
    grid-template-columns: repeat(2, 1fr);
  }
}
