.navbar-links {
  display: flex;
  position: relative;
}
ul{
    padding: 0;
}
.nav-link{
    text-decoration: none;
    color: black;
}
li {
  list-style: none;
  margin: 2rem;
  display: inline;
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar-rule {
  background-color: black;
  height: 1px;
  margin: 0.5rem 2rem 2rem 2rem;
}
.navbar-image {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
}
.navbar-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-links {
    position: relative;
    z-index: 1; /* Set a z-index to ensure the dropdown appears above other elements */
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    color: black; /* Add your color theme here */
  }

  .navbar-ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #96938d; /* Add your color theme here */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Set a higher z-index */
  }

  .navbar-ul.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Change to relative positioning */
    z-index: 2; /* Set a higher z-index */
  }

  .navbar-ul li {
    padding: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
