/* navbar.css */

.navbar-container {
  font-family: 'Arial', sans-serif;
}

.navbar {
  padding: 15px 0;
  position: relative;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  margin-right: 15px; /* Add some spacing between the toggle button and links */
  display: none; /* Hide the toggle button by default */
  transition: color 0.3s ease; /* Smooth color transition */
}

.menu-toggle:hover {
  text-decoration: underline;
}

.navbar-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.3s ease; /* Smooth color transition */
  position: relative; /* Add relative positioning for dropdown */
}

.nav-link:hover {
  color: #ffc107; /* Highlight color on hover */
}

.navbar-image {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px; /* Add some spacing from the right */
}

.navbar-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px; /* Add some spacing between the image and text */
}

.navbar-rule {
  background-color: #000000; /* Highlight color for the rule */
  height: 1px;
  margin: 10px 0 20px 0;
}

.logo-text {
  color: #000000;
}

/* Dropdown styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #292b2c; /* Dropdown background color */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-link:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show the toggle button for smaller screens */
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust top spacing for better visibility */
    left: 0;
    width: 100%;
    background-color: #292b2c;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links ul {
    flex-direction: column;
    padding: 10px;
  }

  .navbar-ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    margin: 10px 0;
  }

  .navbar-image {
    position: relative;
    top: auto;
    transform: none;
    right: 0;
  }
}
@media (max-width: 576px) {
  .navbar-links {
    top: 50px; /* Adjust top spacing for better visibility */
  }
}

/* Media query for screens with a maximum width of 480px */
@media (max-width: 480px) {
  .navbar-links {
    top: 40px; /* Further adjust top spacing for better visibility */
  }

  .menu-toggle {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .navbar-ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    margin: 8px 0;
  }
}

